`git ec`

[user]
    name = steveoh
    email = sgourley@utah.gov
    signingkey = 
[mergetool]
    keepBackup = false
[core]
    editor = /usr/local/bin/vim
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    s = status
    all = add --all :/
    amend = commit --amend
    publish = !git push origin $@ && git push origin --tags
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    ec = config --global -e
    cob = checkout -b
    uc = reset --soft HEAD~1
    undo = reset HEAD~1 --mixed
    wip = !git add -u && git commit -m ":warning:"
    pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    # use open for osx or explorer for windows
    open = !open `git config remote.origin.url
    browse = !git open
[credential]
[push]
    default = simple
[fetch]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    compactionHeuristic = true
[commit]
    gpgsign = true
[gpg]
    program = /usr/local/bin/gpg

