`git ec`

[user]
	name = steveoh
	email = sgourley@utah.gov
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[merge]
    tool = p4mergetool
[mergetool]
    keepBackup = false
[mergetool "p4mergetool"]
    trustExitCode = false
    cmd = 'C:\\Program Files\\Perforce\\p4merge.exe' $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
[diff]
    tool = p4mergetool
[difftool "p4mergetool"]
    cmd = 'C:\\Program Files\\Perforce\\p4merge.exe' $LOCAL $REMOTE
[core]
    # editor = atom --wait
    editor = 'c:/program files/sublime text 3/sublime_text.exe' --wait
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    s = status
    all = add --all :/
    amend = commit --amend
    publish = !git push origin $@ && git push origin --tags
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    ec = config --global -e
    cob = checkout -b
    uc = reset --soft HEAD~1
    undo = reset HEAD~1 --mixed
    wip = !git add -u && git commit -m ":warning:"
	pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[credential]
[push]
    default = simple
[fetch]
    prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
