"*":
  amdbutler: {}
  "atom-htmltidy":
    enableLinter: false
    formatOnSave: false
    tidyExecPath: "/usr/local/bin/tidy"
  "atom-typescript": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "atom-htmltidy"
    ]
    ignoredNames: [
      ".eggs"
      "*.pyc"
      ".coverage"
      "*.egg-info"
      ".git"
      ".tox"
    ]
    telemetryConsent: "no"
    themes: [
      "slack-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "FiraCode-Retina"
    invisibles:
      cr: ""
      eol: "¬"
      tab: "⇥"
    normalizeIndentOnPaste: false
    scrollPastEnd: true
    scrollSensitivity: 80
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "redact"
  linter:
    lintDebug: true
    showInfoMessages: true
    statusBar: "Show all errors"
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    flakeErrors: true
    hangClosing: true
  "linter-python-pep8":
    pep8DirToExecutable: "C:/Python27/ArcGISx6410.3/Scripts/pep8.exe"
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "/Users/sgourley/.rvm/bin/atom_scss-lint"
  "linter-stylint":
    onlyRunWhenConfig: true
  "markdown-preview":
    breakOnSingleNewline: true
  "merge-conflicts": {}
  "omnisharp-atom":
    enhancedHighlighting19: true
  "python-yapf":
    checkOnSave: true
    yapfPath: "/usr/local/bin/yapf"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    showOnRightSide: true
    squashDirectoryNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "xml-formatter":
    xmlUtf8Header: false
".basic.html.text":
  editor:
    normalizeIndentOnPaste: "false"
    softWrap: true
    tabLength: 2
".console.python.text":
  editor:
    normalizeIndentOnPaste: "false"
    tabLength: 4
".js.source":
  editor:
    normalizeIndentOnPaste: "false"
    tabLength: 4
".json.source":
  editor:
    normalizeIndentOnPaste: "false"
    tabLength: 2
".python.source":
  editor:
    normalizeIndentOnPaste: "false"
    tabLength: 4
